<footer class="site-footer" itemscope itemtype="http://schema.org/WPFooter">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.twitter_username %}
            <li>
              <a href="https://twitter.com/{{ site.twitter_username }}">
                <span class="username">{{ site.twitter_username }}</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>

    <nav class="footer-nav" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
        {% for page in site.pages %}
          {% if page.title %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}" itemprop="url">
              <span itemprop="name">{{ page.title }}</span>
            </a>
          {% endif %}
        {% endfor %}
    </nav>


    </div>

  </div>

</footer>
