<header class="site-header" role="banner" itemscope itemtype="http://schema.org/WPHeader">
  <img src="{{ site.baseurl }}/{{ site.images }}/test.jpg" alt="" width="100px">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}">
      <h1 itemprop="headline">{{ site.title }}</h1>
    </a>
    <nav class="site-nav" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
        {% for page in site.pages %}
          {% if page.title %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}" itemprop="url">
              <span itemprop="name">{{ page.title }}</span>
            </a>
          {% endif %}
        {% endfor %}
    </nav>
  </div>
</header>