<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{{ page.title }}" itemscope itemtype="http://schema.org/WebPage">

    {% include header.html %}

    <section class="page-content" itemscope itemtype="http://schema.org/WebPageElement">
      <main class="main" role="main" itemprop="mainContentOfPage">
        {{ content }}
      </main>
    </section>

    {% include footer.html %}

  </body>

</html>
