/* ======== Google Fonts ========= */ 
	$font-google:
	"http://fonts.googleapis.com/css?family=";
// Google Arimo
	@import url(#{$font-google}Cousine:700|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
/* ======== Mixins ========= */ 	
	@mixin font-smoothing {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
	}
// Variables
	// Brand
	$primary:		rgb(28,89,68);			// 'Dark Blue'		HEX: #1B2644
	$secondary:		rgb(63,148,211);		// 'Light Blue'		HEX: #3E94D3
	$tertiary:		rgb(0,0,0);				// ''
	// UI Colours
	$success:		rgb(0,0,0);				// ''				HEX: #6aa842
	$failure:		rgb(0,0,0);				// ''				HEX: #c80000
	// Other
	$markmaking:	#df0028;
	// Social
		// Twitter - https://about.twitter.com/press/brand-assets
		$twitter:		rgb(85,172,238);		// 'Twitter Blue'		PANTONE: 298U		CMYK: 70,10,0,0		RGB: 85,172,238		HEX: #55acee
		$facebook:		rgb(59,89,153);			// 'Facebook Blue'		PANTONE: X			CMYK: 91,65,8,1		RGB: 59,89,153		HEX: #3b5999
		$linkedin:		rgb(72,117,180);		// 'Linkedin Blue'		PANTONE: X			CMYK: X				RGB: 72,117,18		HEX: #4875B4
		$googleplus:	rgb(221,75,57);			// 'Google+ Red'		PANTONE: X			CMYK: X				RGB: 221,75,57		HEX: #dd4b39
// Media query breakpoint reference

// Extra small devices (phones, less than 768px) */
// No media query since this is the default in Bootstrap */

// Small devices (tablets, 768px and up) */
// @media (min-width:768px) { ... }

// Medium devices (desktops, 992px and up) */
// @media (min-width:992px) { ... }

// Large devices (large desktops, 1200px and up) */
// @media (min-width:1200px) { ... }